<div class="container col-sm-4 col-md-4 col-lg-4">
    <div class="card-deck">
        <div class="card">
            <img src="/images/vacations.png" class="card-img-top">
            <form action="/nuxiba/generateVacations">
                <div class="card-footer bg-transparent text-center">
                    <button class="btn btn-light">
                        SOLICITAR VACACIONES
                    </button>
                </div>
            </form>
        </div>
        <div class="card">
            <img src="/images/vacations.png" class="card-img-top">
            <form action="/nuxiba/generatePermission">
                <div class="card-footer bg-transparent text-center">
                    <button class="btn btn-light">
                        SOLICITAR PERMISO
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>