<div class="container my-5">
    <i class="far fa-angle-left"></i>
    <h5>Solicitud de vacaciones</h5>
</div>
<div class="container">
    <div class="card-deck">
        <div class="card col-md-4">
            <div class="card-body">
                <h5>Detalle de vacaciones</h5>
                <div class="form-group">
                    <h6>Vigencia de vacaciones</h6>
                    <p>Del 00/00/0000 al 00/00/0000</p>
                    <hr>
                </div>
                <div class="form-group">
                    <h6>Días de vacaciones</h6>
                    <label>Días disfrutados</label><br>
                    <label>Días solicitados</label><br>
                    <label>Días pendientes</label>
                </div>
            </div>
        </div>
        <div class="card bg-light border-light col-md-5">
            <div class="card-body">
                <form action="/nuxiba/generateVacations" method="POST">
                    <div class="form-group">
                        <h5>Detalle de vacaciones</h5>
                        <input type="number" class="form-control" name="requestDays" placeholder="Días a solicitar"
                            autofocus>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="vacationPeriod" placeholder="Periodo">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="dateRange" placeholder="Fechas">
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-dark">
                            LIMPIAR
                        </button>
                        <button class="btn btn-primary">
                            SOLICITAR
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>